.author {
   color: white;
}

h4 {
   font-weight:bold;
}

.figure {
   width:auto;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

.panel-body{
  width:auto;
  text-align:center;
}

img.image-thumb{
  max-width:100%;
}

.medium{
  width:60%;
}

.large{
  width:80%;
}